<div class="card-padding mat-typography" style="display: flex; flex-direction: column">
  <a cdkFocusInitial></a>
  <div class="first-block">
    <img src="{{project.logo ? project.logo : 'assets/unito-logo.svg'}}" class="project-logo">
    <div class="title-students-container">
      <div>
        <p style="margin-bottom: 0px; font-weight: bold">Nome</p>
        <h2 style="margin-top: 0px">{{project.title}}</h2>
      </div>
      <div>
        <p style="margin-bottom: 0px; font-weight: bold">Studenti</p>
        <p class="student-list" style="margin: 0px" *ngFor="let student of backend.fetchUsers(project.owners)">{{student.name}} ({{student.badgeNumber}}); </p>
      </div>
    </div>
    <div>
      <p style="margin-bottom: 0px; margin-top: 16px; font-weight: bold">Descrizione</p>
      <p class="student-list" style="margin: 0px" >{{project.description}}</p>
    </div>
  </div>
  <mat-list>
    <h3 mat-subheader *ngIf="project.keynotes">Presentazioni</h3>
    <mat-list-item *ngFor="let keynote of project.keynotes">
      <mat-icon mat-list-icon svgIcon="{{keynote.icon}}"></mat-icon>
      <h4 mat-line>{{keynote.title}}</h4>
      <p mat-line><a target="_blank" href="{{keynote.link}}">{{keynote.link}}</a></p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader *ngIf="project.repos">Repository</h3>
    <mat-list-item *ngFor="let repo of project.repos">
      <mat-icon mat-list-icon svgIcon="{{repo.icon}}"></mat-icon>
      <h4 mat-line>{{repo.title}}</h4>
      <p mat-line><a target="_blank" href="{{repo.link}}">{{repo.link}}</a></p>
    </mat-list-item>
  </mat-list>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Chiudi</button>
    <button mat-button (click)="joinProject()" *ngIf="!backend.getCurrentUser().isInProject">Partecipa</button>
  </mat-dialog-actions>
</div>
