<mat-toolbar class="mat-elevation-z2" color="primary">
  <button mat-raised-button color="accent"
          class="mat-elevation-z4"
          (click)="login()">Login</button>
</mat-toolbar>
<div class="main-container">
  <div class="center-in-parent mat-elevation-z8" id="main-content">
    <div class="first-block">
      <div id="image-card-header">
        <img src="assets/unito-logo.svg"
             style="max-width: 100%; max-height: 100%">
      </div>
      <div class="title">
        <h1 style="text-align: center">PROJECTOR</h1>
        <h3 style="text-align: center">Tecniche e architetture avanzate per lo sviluppo del software</h3>
      </div>
    </div>
    <div class="second-block">
      <h4>Projector è un manager di progetti per il corso di taass e permette di aggregare e gestire in maniera agevole i progetti! Fai il login in alto</h4>
    </div>
  </div>
</div>


