<div class="central-container mat-typography mat-typography">
  <h2>Crea un nuovo progetto</h2>
  <b>Nome del progetto</b>
  <mat-form-field>
    <input matInput placeholder="Nome progetto" #projectName>
  </mat-form-field>
  <b>Link del logo</b>
  <mat-form-field>
    <input matInput placeholder="Link logo"#projectLogoSrc>
  </mat-form-field>
  <b>Descrizione</b>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Descrivi il tuo progetto" #projectDescription></textarea>
  </mat-form-field>
  <b>Invita altri studenti tramite email (separate da una virgola)</b>
  <mat-form-field>
    <input matInput placeholder="emails">
  </mat-form-field>
</div>
