.sidenav-header {
  margin: 0px;
  padding: 0px;
}
.fab{
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 2;
}
:host{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.nav {
  height: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.form-field {
  width: 200px;
}

@media all and (max-width: 539px){

  .fill-remaining-space {
    display: none;
  }
  .toolbar-title{
    display: none;
  }
  .search-bar-container {
    margin: 0 auto;
  }
  .form-field{
  }
}
